*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    border-radius: 3px;
    border-color: gainsboro;
    cursor: pointer;
}
ul{
   list-style: none; 
}
li{
    display: flex;
    justify-content: space-between;
}
.container{
    display: flex;
    justify-content: center;
}
.section-center{
    
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
    margin:5rem 15rem;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 8px 8px 5px gray;
}
.heading {
    margin: 10px;
}
.input-field {
    padding: 5px;
    border-radius: 5px;
}
.submit-btn{
    background-color: rgb(56, 181, 56);
    margin: 15px;
    padding: 3px;
}
.delete-btn, .done-btn{
    font-size: 12px;
    padding: 2px;
}
.delete-btn{
    background-color: rgb(232, 81, 81);
}
.done-btn{
    background-color: rgb(56, 181, 56);
}
